.estatisticasSection {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url('../../assets/estatisticas/estatistica.jpg') no-repeat center center;
    background-size: cover;
    padding: 60px 0;
    color: #fff;
    background-attachment: fixed;
}

.estatCard {
    background: linear-gradient(90deg, #A0522D, #303030);
    color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 2rem;
}

.estatCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.countNumber {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.estatTitulo {
    font-size: 1.2rem;
    font-weight: 500;
}
