.topoMenuStyle {
  background: linear-gradient(0deg, #A0522D, #303030); /* Cor de fundo escura */
}

.telefoneStyle {
  font-size: 0.7em;
  font-weight: 500;
}

@media (max-width: 992px) {
  .topoMenuStyle {
    display: none;
  }
}

.telefoneStyle {
    color: #ffffff;

    padding: 4px 2px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;

    /* Transição suave */
    transition: 
        background-color 0.4s ease,
        color 0.4s ease,
        transform 0.4s ease,
        box-shadow 0.4s ease;
}

/* Efeito ao passar o mouse */
.telefoneStyle:hover {
   
            /* clareia texto */
    transform: scale(1.06);   /* leve zoom */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); /* sombra */
}
