.projectosSection {
  background: #f8f9fa; /* fundo branco */
  color: #333;
  padding: 60px 0;
}

.projectoContent {
  background: #fff; /* card branco */
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.projectoContent:hover {
  transform: translateY(-5px);
}

.projectoContent ul {
  list-style: disc;
  padding-left: 20px;
}

.projectoFotos .fotoCard {
  width: 150px;
  height: 120px;
  overflow: hidden;
}

.projectoFotos .fotoCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.clickable {
    cursor: pointer;
    transition: transform 0.2s;
}
.clickable:hover {
    transform: scale(1.05);
}
