

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Courier New', Courier, monospace;
}

:root {
  --cor-primaria: #A0522D; /* Castanho */
  --cor-secundaria: #303030; /* Cinza escuro */
  --cor-terciaria: linear-gradient(90deg, #A0522D, #303030);; /* Branco */

}

body {
    background-color: #f8f8f8; /* bege muito claro / fundo suave */
  

}