.seccao-cartaz {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url("../../assets/fundoBt.jpg");
  background-size: cover;
  background-position: center;
    width: 100%;
  height: 100% !important;
  min-height: 100vh !important;
  color: #fff;
}

.novo{
  background-color: #000 !important;
}

.minha {
  position: absolute;
  /* Posiciona a div de forma absoluta em relação ao seu elemento pai */
  top: 50%;
  /* Coloca a div no meio da altura */
  left: 50%;
  /* Coloca a div no meio da largura */
  transform: translate(-50%, -50%);
  /* Move a div para que seu centro seja alinhado ao centro da tela */
}


.sizeTitulo {
  font-size: 3.5em;
}

@media (max-width: 768px) {
  .sizeTitulo {
    font-size: 3em;
    margin-bottom: 17px;
  }

  .sizeSubTitulo {
    font-size: 2em !important;
    margin-bottom: 17px;
  }
}

.sizeSubTitulo {
  font-size: 3em;
}

.centralDiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5) !important;
  padding: 30px;
  border-radius: 19px;
  border-left: 6px solid var(--corSecodaria) !important;
  border-right: 6px solid var(--corSecodaria) !important;
  border-radius:20px;
}

.centralDiv .password-input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.centralDiv .input-group {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.centralDiv .password-input {
  width: 100%;
  padding: 12px 45px 12px 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  color: #fff;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  letter-spacing: 1px;
}

.centralDiv .password-input:focus {
  outline: none;
  border-color: #fff;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.1);
}

.centralDiv .password-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: normal;
}

.centralDiv .password-input:hover {
  border-color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.55);
}

.centralDiv .password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  padding: 8px;
  transition: all 0.3s ease;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.centralDiv .password-toggle:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  transform: translateY(-50%) scale(1.1);
}

.centralDiv .password-toggle:active {
  transform: translateY(-50%) scale(0.95);
}

.centralDiv .password-toggle svg {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}

.centralDiv .password-toggle:hover svg {
  transform: scale(1.1);
}

.sizeTitu{
  font-size: 1.2em !important;
}

.btnAcessoFuncionario {
  background-color: #00000000;
  border: 2px solid #fff;
  padding: 11px 140px;
  color: #fff;
  font-size: 1.3em;
  border-radius: 20px !important;
  font-weight: 700;
  transition: var(trasicao);
}

.btnAcessoFuncionario:hover {
  background-color: #fff;
  color: #000;
  transition: var(--trasicao);
  border: 2px solid var(--corSecundaria);
}

.imagemLogo {
  width: 340px;
  margin-bottom: 50px;
}

.imagemLog {
  float: left !important;
  position: relative !important;
  display: block !important;
}

.btnAcessoPass {
  background-color: #0070fa;
  padding: 10px 50px !important;
  border: 2px solid #0070fa;
  font-size: 1.3em;
  border-radius: 25px;
  transition: var(--trasicao);
}

.btnAcessoPass:hover {
  background-color: #000000;
  border: 2px solid #fff;
}

.sizeTitu {
  font-size: 3em !important;
}

.fundoIcone {
  background-color: #0070fa !important;
}

.fundoIconeRigth {
  background-color: #0070fa !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;

}

.paddingEspecial {
  padding: 5px 15px !important;
  height: 48px;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.fundoIcone {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.menu-lateral {
  padding-top: 40px;
  width: 300px;


}

.menuLateral {
  display: flex;
  flex-direction: column;
}
.menu-lateral {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-grow: 1;
}


.linhasMenu {
  margin-bottom: 25px;
  list-style: none;
  font-size: 1.2em;
}

.icone-menu {
  font-size: 1.6em;
  margin-right: 15px;
}

.paddingCimaBar {
  padding-top: 40px;
}

.borderKing {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.btnPublicar {
  background-color: #00000000;
  color: #fff;
  border: 2px solid #fff;
  padding: 12px 35px;
  font-size: 1.1em;
  border-radius: 30px;
  display: block;
  float: right;
  margin: 10px 0;
  transition: var(--trasicao);
  font-weight: 700;
}

.btnPublicar:hover {
  background-color: #fff;
  color: #000;
}

.editIcone {
  cursor: pointer;
  transition: var(--trasicao);
}

.editIcone:hover {
  transform: scale(1.2);
}

.formularioLaudo {
  background-color: #000 !important;
  border: none;
  outline: none;
  border: 40px;
}

.div-avalicao {
  border-radius: 20px;
  text-align: justify;
}

.borderB {
  border-bottom: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
}

.logoBig {
  display: none !important;
}

.logoSmall {
  display: none !important;
}

@media (max-width: 768px) {
  .spanTitle {
    border: 1px solid #fff;
    display: none;
  }

  .logoSmall {
    display: block !important;
    position: relative;
    left: -15px;
  }

  .menu-lateral {
    width: 50px;
    padding-left: 10px;
  }
}

@media (min-width: 768px) {

  .logoBig {
    display: block !important;
  }


}


.btnReset {
  background-color: #000000;
  border: none;
}

.text-rigth {
  text-align: right !important;

}


.padingCimaBar {
  height: 100% !important;
}

.bordarLeft {
  border-left: 4px solid var(--corPrimaria);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}


.links-ass {
  background-color: var(--corPrimaria) !important;
}


.flutuarIcones {
  float: right;
  margin-top: 50px;
  font-weight: bolder !important;
  font-size: 2em;
  transition: .300ms all ease-in;
  cursor: pointer;
}

.flutuarIcones:hover {
  transform: scale(1.1);
}

.mEr {

  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  transition: .300ms all ease-in;
  display: block;
  cursor: pointer;
}


.DifinirEspecial {
  display: block !important;
  margin: auto !important;
  border: 2px solid #fff;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Altura total da viewport */
  background-color: #000000;
  color: #fff;

}


.backFundo {
  border-top: 3px solid #fff;
  border-radius: 15px;
  border-bottom: 3px solid #fff;
  margin: 10px 5px;
  padding: 0 12px !important;
  background-color:
    #000;
  color: #fff;
  box-shadow: var(--SombraA);

}

.setasDesign {

  font-size: 15pt;
}


.bg-difinido {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../../assets/img/StockCake-Busy Auto Shop_1728583541.jpg");
  background-size: cover;
}

/* Centraliza a Modal em todas as telas */
.modal-fullscreenAux {
  display: block !important;
  margin: auto !important;
  width: 100% !important;
  height: 100vh !important;

}

.bg-difinido {
  border: 10px solid #fff;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}