.textoPrincipalBanner {
    font-size: 8vw; /* tamanho relativo à largura da tela */
    font-weight: 900;
    text-align: start;
    font-family: 'poppins', sans-serif !important;
    margin-top: 14%;

    /* Gradiente com castanho mais leve -> cinza escuro -> branco */
    background: linear-gradient(90deg, #A0522D 0%, #303030 50%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Bordas brancas */
    -webkit-text-stroke: 3px #ffffff;
    text-stroke: 2px #ffffff;

    /* Sombra intensa */
    text-shadow: 5px 5px 12px rgba(0,0,0,0.7);
}

/* Ajustes específicos para tablets */
@media (max-width: 992px) {
    .textoPrincipalBanner {
        font-size: 9vw;
    }
}

/* Ajustes específicos para celulares */
@media (max-width: 576px) {
    .textoPrincipalBanner {
        font-size: 12vw;
        margin-top: 15%;
        -webkit-text-stroke: 1.5px #ffffff;
        text-stroke: 1.5px #ffffff;
        text-align: center;
    }
}

